<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOTA CSV Upload Check</title>
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tabletojson.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tabledit.min.js"></script>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h3>SOTA/WOTA CSV File Check and Submit</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Username: <b>{{.User}}</b></p>
                <p>Content of the Uploaded File:</p>
                <textarea cols="100" rows="20" name="content">{{.CsvData}}</textarea>
                <p>Errors: <b>{{.Errors}}</b></p>
                <p>&nbsp;</p>
                <p>Activator Contacts: <b>{{len .Activations}}</b></p>
                <table class="table table-striped table-bordered" id="activationsTable">
                    <thead>
                        <th>Index</th>
                        <th>Date</th>
                        <th>Callsign Used</th>
                        <th>Summit Id</th>
                        <th>Summit Name</th>
                        <th>Contact</th>
                        <th>Summit to Summit</th>
                    </thead>
                    <tbody>{{range .Activations}}
                        <tr>
                            <td name="id">{{.Id}}</td>
                            <td name="date">{{.Date}}</td>
                            <td name="callUsed">{{.CallUsed}}</td>
                            <td name="wotaId">{{.WotaId}}</td>
                            <td name="summitName">{{.SummitName}}</td>
                            <td name="contact">{{.StnCall}}</td>
                            <td name="s2s">{{if .S2S}}Y{{else}}N{{end}}</td>
                        </tr>{{end}}
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p>Chaser Contacts: <b>{{len .Chases}}</b></p>
                <table class="table table-striped table-bordered" id="chasesTable">
                    <thead>
                        <th>Index</th>
                        <th>Date</th>
                        <th>Callsign Used</th>
                        <th>Summit</th>
                        <th>Summit Name</th>
                        <th>Station Worked</th>
                    </thead>
                    <tbody>{{range .Chases}}
                        <tr>
                            <td name="id">{{.Id}}</td>
                            <td name="date">{{.Date}}</td>
                            <td name="workedBy">{{.WorkedBy}}</td>
                            <td name="wotaId">{{.WotaId}}</td>
                            <td name="summitName">{{.SummitName}}</td>
                            <td name="stnCall">{{.StnCall}}</td>
                        </tr>{{end}}
                    </tbody>
                </table>
                <p>&nbsp;Upload Results:</p>
                <textarea cols="100" rows="20" id="results"></textarea>

                <p>
                    <input type="button" value="Back" onclick="history.back()">&nbsp;&nbsp;
                    <input id="btnCancel" type="button" name="Cancel" value="Cancel" />&nbsp;&nbsp;
                    <input id="btnSubmit" type="button" name="Submit" value="Upload Contacts" />
                </p>
                <form id="hiddenStuff">
                    <input id="activationsCount" type="hidden" value="{{len .Activations}}"/>
                    <input id="chasesCount" type="hidden" value="{{len .Chases}}"/>
                </form>
            </div>
        </div>


        <script type="text/javascript">
            $('#activationsTable').Tabledit({
                columns: {
                    identifier: [0, 'Index'],
                    editable: [[3, 'Summit Id'], [5, 'Contact'], [6, 'Summit to Summit', '{"N": "N", "Y": "Y"}']]
                }
            });
            $('#chasesTable').Tabledit({
                columns: {
                    identifier: [0, 'Index'],
                    editable: [[3, 'Summit Id'], [5, 'Station Worked']]
                }
            });

            $(document).ready(function() {
                function processSubmitSuccess(data) {
                    var errorContent = document.getElementById("results").innerHTML;
                    errorContent = errorContent + "\n" + data.Type + "\n" + data.Results + data.Errors + "\n";
                    document.getElementById("results").innerHTML = errorContent;
                }

                function processSubmitFailure(errMsg, tableName) {
                    var errorContent = document.getElementById("results").innerHTML;
                    if (errorContent !== "") {
                        errorContent = errorContent + "\n";
                    }
                    errorContent = errorContent + tableName + ": " + errMsg;
                    document.getElementById("results").innerHTML = errorContent;
                    console.log(errMsg)
                    console.log(tableName)
                }

                function submitChasesTable() {
                    // Remove deleted rows
                    $("table#chasesTable tr.tabledit-deleted-row.danger").remove();
                    var chasesJson = $('table#chasesTable').tableToJSON();

                    $.post( "/cgi-bin/sota-uploader/process_form", JSON.stringify(chasesJson), function (data) {
                        processSubmitSuccess(data);
                    }, "json");
                }

                function submitActivationTable() {
                    // Remove deleted rows
                    $("table#activationsTable tr.tabledit-deleted-row.danger").remove();
                    // Remove all the S2S selects
                    $("select.tabledit-input.form-control.input-sm").remove();
                    var activationJson = $('table#activationsTable').tableToJSON();

                    $.post( "/cgi-bin/sota-uploader/process_form", JSON.stringify(activationJson), function (data) {
                        processSubmitSuccess(data)
                    }, "json");
                }

                $("#btnSubmit").click(function () {
                    if ($("#activationsCount").val() != "0") {
                        submitActivationTable();
                    }
                    if ($("#chasesCount").val() != "0") {
                        submitChasesTable();
                    }
                });

                $("#btnCancel").click(function () {
                    window.location = "/mm_home.html";
                });

            });
        </script>
    </div>
</body>
</html>